.wikiparse-container {
	position: relative;
	-webkit-text-size-adjust: none;
}
.wikiparser {
	white-space: pre-wrap;
	tab-size: 4;
	overflow-wrap: break-word;
	word-break: break-all;
	font-family: monospace;
	border: 1.5px solid #dedede;
	background-color: #fff;
}
/* wikiparse.highlightæˆ–wikiparse.codejar */
.wikiparser.wikiparse-container {
	padding: 4px 0;
	overflow-y: auto;
}
.wikiparse-container > .wpb-root {
	padding: 0 6px;
	display: block;
	position: relative;
	overflow-y: hidden !important;
}
