/node_modules/
dist/
/bundle/*.map
/coverage/*
!/coverage/badge.svg
/errors/*
/printed/*
/.vscode/
/.eslintcache*
/.markdownlint.json
/.nyc_output/
/.cache/
/wiki/
/test/*.wiki
/test/**/*.txt
!README
