dist/
/bundle/bundle-es*.min.js
/bundle/*.map
/coverage/*
!/coverage/badge.svg
/errors/*
/printed/*
/.vscode/
/.eslintcache*
/.wikilintcache
/wiki/
/test/*.wiki
/test/prof*.json
/build
!README
/config/testwiki.json
/diff.html
