#wpTextbox1 {
	width: 100%;
	height: var(--height-editor);
	max-height: var(--max-height-editor);
	padding: .4em;
	border-radius: .3em;
	border: 1.5px solid #dedede;
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
	font-family: monospace;
	caret-color: #000;
	line-height: 1.4;
	tab-size: 4;
	word-break: normal;
}

@media screen and (min-width: 1200px) {
	#wpTextbox1 {
		width: 70%;
		float: left;
		margin-right: .5rem;
	}
}

@media screen and (max-width: 720px) {
	#wpTextbox1 {
		font-size: var(--font-size-tablet);
	}
}
