iframe {
	width: 100%;
	height: 100vh;
	border: 0;
}

@media screen and (min-width: 1200px) {
	body {
		display: flex;
		margin: 0;
		column-count: 3;
	}
	iframe {
		display: block;
	}
	#wikiparser-node {
		order: 1;
	}
	#codemirror-mediawiki {
		order: 0;
	}
	#monaco-wiki {
		order: 2;
	}
}
