.frame {
	font-size: 14px;
	line-height: 1.57;
}
.frame img {
	min-width: auto;
}

/* Template:Flatlist/styles.css */
.frame .hlist ul {
	margin: 0;
	padding: 0;
}
.frame .hlist li {
	margin: 0;
	display: inline;
}
.frame li::after {
	content: " · ";
	font-weight: bold;
}
.frame .hlist li:last-child::after {
	content: none;
}

/* Template:Nmbox/styles.css */
.frame .nmbox {
	background: #f8f9fa;
	border: 1px solid #a2a9b1;
	box-sizing: border-box;
	margin: 2px 0;
	padding: 0;
}
.frame .nmbox * {
	box-sizing: border-box;
}
.frame .nmbox-header {
	background: #eaecf0;
	padding: 4px 0.5em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap
}
.frame .nmbox-text {
	border-top: 1px solid #a2a9b1;
	padding: 4px 0.5em;
}
@media screen and (min-width: 768px) {
	.frame .nmbox-header {
		display: table-cell;
		border-right: 1px solid #a2a9b1;
	}
	.frame .nmbox-text {
		border-top: none;
		display: table-cell;
	}
}

/* Template:PD Help Page/styles.css */
.frame .template-pd-help-page {
	color: #101418;
	border: solid 1px #a2a9b1;
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #ffffff;
	font-size: 95%;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
}
.frame .template-pd-help-page .icon-cell {
	padding: 0 1em;
	width: 30px;
}

