html, body, main, article, div, select, pre, ol, li, ul, dl, dt, dd,
p, hr, h1, h2, h3, h4, h5, h6, a, center, cite, dfn, img {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
:root {
	font-size: 15px;
	font-family: monospace;
	--color-select: #f8f9fa; /* background-color of select */
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0;
	line-height: 1.2;
}
main {
	display: flex;
	width: 90vw;
	max-width: 1200px;
	margin: 3rem 0;
	background-color: #fff;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
}
article {
	display: block;
	width: 100%;
	padding: 1rem 2rem;
}
.field {
	position: relative;
	box-sizing: border-box;
	min-height: 32px;
	background-color: var(--color-select);
	margin-bottom: .5rem;
}
select {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--color-select);
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
select, #frame {
	padding: 5px 12px;
}
pre {
	border-radius: .3em;
}

.mw-editsection, .mw-empty-elt {
	display: none;
}
#frame p {
	margin: .5em 0;
}
#frame hr {
	height: 1px;
	background-color: #a2a9b1;
	margin: .2em 0;
}
#frame h1, h2 {
	margin: 1em 0 .25em;
	line-height: 1.38;
	border-bottom: 1px solid #a2a9b1;
}
#frame h1 {
	font-size: 1.8em;
}
#frame h2 {
	font-size: 1.5em;
}
#frame h3, #frame h4, #frame h5, #frame h6 {
	margin-top: .3em;
	line-height: 1.6;
}
#frame h3, #frame h4 {
	font-weight: bold;
}
#frame h3 {
	font-size: 1.2em;
}
#frame a {
	word-wrap: break-word;
	text-decoration: none;
	color: #0645ad;
}
#frame a.new {
	color: #ba0000;
}
#frame a.external, #frame a.extiw {
	color: #36b;
}
#frame a.external.free {
	word-break: break-all;
}
#frame a:hover, #frame a:focus {
	text-decoration: underline;
}
#frame a:active {
	color: #faa700;
}
#frame ul {
	margin: .3em 0 0 1.6em;
}
#frame ol {
	margin: .3em 0 0 3.2em;
	list-style-image: none;
}
#frame li {
	margin-bottom: .1em;
}
#frame dl {
	margin: .2em 0 .5em;
}
#frame dt {
	font-weight: bold;
	margin-bottom: .1em;
}
#frame dd {
	margin: 0 0 .1em 1.6em;
}
#frame q {
	quotes: '"' '"' "'" "'";
}
#frame code {
	border-radius: 2px;
	padding: 1px 4px;
}
#frame pre {
	padding: 1em;
	white-space: pre-wrap;
	overflow: hidden;
	word-wrap: break-word;
}
#frame code, #frame pre {
	background: #f8f9fa;
	color: #000;
	border: 1px solid #eaecf0;
}
#frame sub, #frame sup {
	font-size: 80%;
	line-height: 1;
}
#frame blockquote {
	padding: 8px 32px;
	margin: 1em 0;
}
#frame .error {
	font-size: larger;
	color: #d73333;
}
#frame img {
	vertical-align: middle;
}
#frame .toc {
	display: table;
	padding: 7px;
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	font-size: 95%;
}
#frame .toctitle {
	text-align: center;
}
#frame .toc h2 {
	display: inline;
	border: 0;
	font-size: 100%;
	font-weight: bold;
}
#frame .toctogglespan {
	font-size: 94%;
}
#frame .toctogglespan::before {
	content: " [";
}
#frame .toctogglespan::after {
	content: "]";
}
#frame .toctogglelabel::after {
	content: "隐藏";
}
#frame .toc ul {
	list-style: none;
	margin: .3em 0;
}
#frame .tocnumber {
	padding-right: .5em;
	color: #202122;
}
#frame .tocnumber, #frame .toctext {
	display: table-cell;
}

@media screen and (max-width: 720px) {
	main {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	article {
		padding: 1rem;
	}
}
