.wikiparser {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	font-family: monospace;
}

.wpb-error {
	color: #f00;
	font-weight: normal;
	text-decoration: underline wavy #f00 1px;
}

.wpb-noinclude, .wpb-include, .wpb-comment {
	color: #72777d;
	font-weight: normal;
}
.wpb-comment {
	font-style: italic;
}

.wpb-ext, .wpb-html {
	color: #14866d;
	font-weight: bold;
}
.wpb-ext-attr, .wpb-ext-inner, .wpb-html-attr {
	font-weight: normal;
}
.wpb-ext-inner {
	color: initial;
	background-color: rgba(0, 0, 0, .04);
}

.wpb-arg {
	color: #ac6600;
	font-weight: bold;
}
.wpb-arg-default {
	color: #ad9300;
	font-weight: normal;
}

.wpb-template {
	color: #80c;
	font-weight: bold;
	background-color: rgba(119, 0, 170, .04);
}
.wpb-magic-word {
	color: #d33;
	font-weight: bold;
	background-color: rgba(170, 17, 17, .04);
}
.wpb-invoke-module, .wpb-invoke-function {
	color: #dd5d33;
	font-weight: normal;
}
.wpb-parameter {
	color: initial;
	font-weight: normal;
}
.wpb-template > .wpb-parameter > .wpb-parameter-key {
	color: #b0c;
}

.wpb-heading, .wpb-image-parameter {
	color: #0076dd;
}
.wpb-heading-title {
	color: initial;
	font-weight: bold;
}

.wpb-table, .wpb-tr, .wpb-td {
	color: #d08;
	font-weight :bold;
}
.wpb-table-attr {
	color: #db00be;
	font-weight: normal;
}
.wpb-td-inner {
	color: initial;
	font-weight: normal;
}

.wpb-double-underscore, .wpb-hr, .wpb-quote, .wpb-list, .wpb-dd {
	color: #0076dd;
	font-weight: bold;
	background-color: #eee;
}

.wpb-link, .wpb-category, .wpb-file, .wpb-gallery-image, .wpb-ext-link, .wpb-free-ext-link {
	color: #000aaa;
	background-color: rgba(34, 17, 153, .04);
}
.wpb-link-text, .wpb-image-caption, .wpb-ext-link-text {
	color: initial;
}

.wpb-converter {
	color: #b68;
	font-weight: bold;
}
.wpb-converter-rule {
	font-weight: normal;
}
.wpb-converter-rule-from, .wpb-converter-rule-to {
	color: initial;
}
